@import '../palette';

.navbar {
  color: white;
  position: fixed;
  z-index: 1030;

  a {
    color: white;
    text-decoration: none;
  }

}
.navbar-brand {
  padding: 0px;

  img {
    display: inline;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    width: auto;
 }

}

.additional-links {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.navbar-form {
  width: auto;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  border: none;
  box-shadow: none;
}

.button-icon {
  color: white;
  margin-top: 6px;
}

.btn-link {
  padding: 0;
  font-size: 22px;
}
