@import '../../../../palette';

.text-div {
  padding-top: 7px;
  padding-bottom: 7px;
}

.centered {
  text-align: center;
}

label.centerd input[type=radio] {
  width: auto;
  margin: 0 auto;
}
