<div class="container main">
  <div id="main-rectangle" class="rectangle">
  <form class="form-horizontal">
    <div class="form-group">
      <h1>{{'ERROR' | translate}} 404:</h1>
    </div>
    <div class="form-group">
      <h2 class="pull-right">
        {{'404MESSAGE' | translate}}
      </h2>
    </div>
    <div class="form-group">
      <h3>
        {{'BACK' | translate}}:
      </h3>
    </div>
    <div class="logo">
      <a routerLink="/"><img src="./assets/duely.svg"></a>
    </div>
  </form>
  </div>
</div>
