<div class="container main">
  <div id="main-rectangle" class="rectangle">
    <form class="form-horizontal">
      <div class="logo">
        <img src="./assets/duely.svg">
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-2 col-xs-12 control-label">{{'LICENSE' | translate}}</label>
        <div class="col-sm-10 col-xs-12">
          <p class="col-xs-12">Open Source</p>
          <p class="col-xs-12"><a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_self">Mozilla Public License v2.0</a></p>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-2 col-xs-12 control-label">{{'DEVELOPER' | translate}}</label>
        <div class="col-sm-10 col-xs-12">
          <p class="col-xs-12">Till Affeldt</p>
          <p class="col-xs-12">Mike Kenneth Braun</p>
          <p class="col-xs-12">Marlen Bernier</p>
          <p class="col-xs-12">Frederik Kammer</p>
          <p class="col-xs-12">Lars Richard</p>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-2 col-xs-12 control-label">{{'ARCHITECTURE USED' | translate}}</label>
        <div class="col-sm-10 col-xs-12 form-group">
          <div class="col-xs-2 first"><img src="./assets/tech/electron.svg" class="icon"></div>
          <div class="col-xs-2 no-padding"><img src="./assets/tech/node.svg" class="icon"></div>
          <div class="col-xs-2 no-padding"><img src="./assets/tech/javascript.svg" class="icon"></div>
          <div class="col-xs-2 no-padding"><img src="./assets/tech/angular.svg" class="icon"></div>
          <div class="col-xs-2 no-padding"><img src="./assets/tech/bootstrap.svg" class="icon"></div>
          <div class="col-xs-2 no-padding"><img src="./assets/tech/HTML5.svg" class="icon"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 col-xs-12">
        </div>
        <div class="col-sm-10 col-xs-12">
          <a routerLink="/">
            <button type="button" class="btn btn-default">
              <span>
                {{'BACK' | translate}}
              </span>
            </button>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
