@import '../../palette';

.rectangle {
  border: 4px;
  background-color: white;
  border-color: transparent;
  border-radius: 4px;
  padding: 15px;
}

.main {
  margin-top: 65px;
  background-color: $clr-background-main;
  border: 2px #404040;
  border-radius: 10px;
}

.pull-right {
  margin-right: 15px;
}

hr  {
  border-top: 1px solid $clr-background;
}

.navbar-form {
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: none;
}

span {
  vertical-align: middle;
  height: 100%;
  line-height: height;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  height: 100%;
  line-height: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-left: 15px;
  padding-right: 0;
    height: 100%;
    line-height: 100%;
}

button {
  width: 100%;
  text-decoration: none;
  color: black;
}

.form-group {
  margin-left: 0;
  margin-right: 0;
}

.nopadding {
  padding: 0;
  margin: 0;
}
