<form [formGroup]="appointmentForm" class="form-horizontal" novalidate>

  <!-- Title -->
  <div class="form-group row" [ngClass]="{
  'has-danger': appointmentForm.controls.summary.invalid && appointmentForm.controls.summary.dirty || appointmentForm.controls.summary.pristine ,
  'has-success': appointmentForm.controls.summary.valid && appointmentForm.controls.summary.dirty
}">
    <label for="title" class="col-sm-2 col-xs-12 control-label">{{'TITLE' | translate}}</label>
    <div class="col-sm-10 col-xs-12">
      <input formControlName="summary" [(ngModel)]="appointment.summary"
            type="text" class="form-control" [placeholder]="this.translate.instant('TITLE')">
          <div class="alert alert-warning"
       *ngIf="appointmentForm.controls.summary.invalid  && appointmentForm.controls.summary.dirty || appointmentForm.controls.summary.pristine">
        <p *ngIf="appointmentForm.controls.summary.errors == null && !appointmentForm.controls.summary.errors.required && (appointmentForm.controls.summary.dirty || appointmentForm.controls.summary.pristine)">{{'REQUIRED' | translate}}</p>
        <p *ngIf="appointmentForm.controls.summary.errors.maxlength">{{'REQUIRED25' | translate}}</p>
        <p *ngIf="appointmentForm.controls.summary.errors != null && appointmentForm.controls.summary.errors.required">{{'REQUIRED' | translate}}</p>
        <p *ngIf="appointmentForm.controls.summary.errors != null && appointmentForm.controls.summary.errors.maxlength">{{'REQUIRED25' | translate}}</p>

          </div>
    </div>
  </div>

  <!-- Location -->
  <div class="form-group row" [ngClass]="{
  'has-danger': appointmentForm.controls.location.invalid && appointmentForm.controls.location.dirty ,
  'has-success': appointmentForm.controls.location.valid && appointmentForm.controls.location.dirty
}">
    <label for="location" class="col-sm-2 col-xs-12 control-label">{{'LOCATION' | translate}}</label>
    <div class="col-sm-10 col-xs-12">
      <input formControlName="location" [(ngModel)]="appointment.location"
            type="text" class="form-control" [placeholder]="this.translate.instant('LOCATION')">
          <div class="alert alert-warning"
       *ngIf="appointmentForm.controls.location.invalid && appointmentForm.controls.location.dirty">
             <p *ngIf="appointmentForm.controls.location.errors != null && appointmentForm.controls.location.errors.maxlength">max. 25 letters required</p>
          </div>
    </div>
  </div>

  <!-- Description -->
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-xs-12 control-label">{{'DESCRIPTION' | translate}}</label>
    <div class="col-sm-10 col-xs-12">
      <textarea formControlName="description" [(ngModel)]="appointment.description"
            class="form-control" [placeholder]="this.translate.instant('DESCRIPTION')" rows="1" racAutoResize></textarea>
    </div>
  </div>

  <hr>

  <!-- Start info (date & time) -->
  <div formGroupName="start" class="form-group row">
    <label class="col-sm-2 col-xs-12 control-label">{{'FROM' | translate}}</label>
    <div class="col-sm-5 col-xs-6">
      <ng2-datepicker [options]="startoptions" [texts]="datepickerTexts" formControlName="date" [ngModel]="startdate" (ngModelChange)="startdate=$event; startDateListener($event)"></ng2-datepicker>
    </div>
    <div class="col-sm-5 col-xs-6">
      <input formControlName="time" type="time" class="form-control"
        *ngIf="!appointmentForm.controls.allDay.value" (blur)="validateStartTime(); onStartTimeChange($event.target.value)">
    </div>
  </div>

  <!-- End info (date & time) -->
  <div formGroupName="end" class="form-group row">
    <label class="col-sm-2 col-xs-12 control-label">{{'TO' | translate}}</label>
    <div class="col-sm-5 col-xs-6">
      <ng2-datepicker [options]="endoptions" [texts]="datepickerTexts" formControlName="date" [ngModel]="enddate" (ngModelChange)="enddate=$event; endDateListener($event)"></ng2-datepicker>
    </div>
    <div class="col-sm-5 col-xs-6">
      <input formControlName="time" type="time" class="form-control"
        *ngIf="!appointmentForm.controls.allDay.value" (blur)="validateEndTime(); onEndTimeChange($event.target.value)">
    </div>
  </div>

  <!-- allDay Checkbox -->
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-10">
      <ul class="list-inline">
        <li class="list-inline-item">
          <div class="form-check">
            <label class="form-check-label">
              <input formControlName="allDay" [(ngModel)]="appointment.allDay"
                    type="checkbox" class="form-check-input">
              {{'ALL-DAY' | translate}}
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <rac-recurring-settings [appointment]="appointment"></rac-recurring-settings>
  <hr>
  <rac-alarm-settings [appointment]="appointment"></rac-alarm-settings>
  <hr>
  <rac-advanced-settings [appointment]="appointment"></rac-advanced-settings>
</form>
